/demo/build/classes/java/main/edu/curtin/terminalgriddemo/Event$EventType.class
/demo/build/classes/java/main/edu/curtin/terminalgriddemo/Event.class
/demo/build/classes/java/main/edu/curtin/terminalgriddemo/TableItem.class
/lib/build/classes/java/test/edu/curtin/terminalgrid/TerminalGridTest.class
